In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('airbnb_data.csv')
df.head()

,id,name,room_type,price,minimum_nights,number_of_reviews,city
0,3781,HARBORSIDE-Walk to subway,Apartment,146,28,16,Boston
1,5506,**$49 Special ** Private! Minutes to center!,Apartment,145,3,107,Boston
2,6695,$99 Special!! Home Away! Condo,Apartment,169,3,115,Boston
3,10730,Bright 1bed facing Golden Dome,Apartment,85,91,32,Boston
4,10813,"Back Bay Apt-blocks to subway, Newbury St, The...",Apartment,87,28,10,Boston

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32348 entries, 0 to 32347
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 32348 non-null  int64
 1   name               32348 non-null  object
 2   room_type          32348 non-null  object
 3   price              32348 non-null  int64
 4   minimum_nights     32348 non-null  int64
 5   number_of_reviews  32348 non-null  int64
 6   city               32348 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.7+ MB

In [6]:
df.describe()

                 id         price  minimum_nights  number_of_reviews
count  3.234800e+04  32348.000000    32348.000000       32348.000000
mean   2.508788e+07    264.403765       10.826512          33.307098
std    1.263377e+07    664.710530       22.631883          60.007665
min    2.318000e+03      0.000000        1.000000           0.000000
25%    1.561604e+07    100.000000        2.000000           1.000000
50%    2.498184e+07    164.000000        3.000000           8.000000
75%    3.612234e+07    259.000000        7.000000          39.000000
max    4.547369e+07  24999.000000     1000.000000         840.000000

In [7]:
df.isnull().any()

id                   False
name                 False
room_type            False
price                False
minimum_nights       False
number_of_reviews    False
city                 False
dtype: bool

In [8]:
df.city.value_counts()

city
Hawaii     22434
Seattle     6575
Boston      3339
Name: count, dtype: int64

In [10]:
df.room_type.value_counts()

room_type
Apartment    27241
Private       4660
HotelRoom      272
Shared         175
Name: count, dtype: int64